[user]
  name = Bart van Raaij
[init]
  defaultBranch = main
[core]
  autocrlf = input
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = decorations
  navigate = true    # use n and N to move between diff sections
  light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
[merge]
  conflictstyle = diff3
  autoStash = true
[diff]
  colorMoved = default
[delta "decorations"]
  #file-style = omit
  hunk-header-style = omit
[push]
  autoSetupRemote = true
[alias]
  s = status -sb
  d = diff
  dc = diff --cached
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -20
  unstage = restore --staged
  amend = commit --amend --no-edit
  recommit = commit --reuse-message=HEAD
